#result_div {
  width: 100%;
  height: 120px;
  margin: 15px;
  padding-right: 10px;

  display: flex;
  flex-direction: column;
  align-items: end;

  color: white;
  font-size: 1.5em;
  overflow: auto;
}

.numbers_div {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(7, 60px);
  grid-template-areas:
    "MC MR plusM minusM showM"
    "clear factorial percent square_root delete"
    "exp exp2 lg ln division"
    "hex  number_7 number_8 number_9 multiply_"
    "dec number_4 number_5 number_6 minus"
    "bin number_1 number_2 number_3 plus"
    "menu sign number_0 point equal";
}

#number_0 {
  grid-area: number_0;
}
#number_1 {
  grid-area: number_1;
}
#number_2 {
  grid-area: number_2;
}
#number_3 {
  grid-area: number_3;
}
#number_4 {
  grid-area: number_4;
}
#number_5 {
  grid-area: number_5;
}
#number_6 {
  grid-area: number_6;
}
#number_7 {
  grid-area: number_7;
}
#number_8 {
  grid-area: number_8;
}
#number_9 {
  grid-area: number_9;
}
#plus {
  grid-area: plus;
}
#minus {
  grid-area: minus;
}
#division {
  grid-area: division;
}
#multiply {
  grid-area: multiply_;
}
#clear {
  grid-area: clear;
}
#equal {
  grid-area: equal;
}
#point {
  grid-area: point;
}
#percent {
  grid-area: percent;
}
#sign {
  grid-area: sign;
}
#delete {
  grid-area: delete;
}
#factorial {
  grid-area: factorial;
}
#square_root {
  grid-area: square_root;
}
#exp {
  grid-area: exp;
}
#exp2 {
  grid-area: exp2;
}
#lg {
  grid-area: lg;
}
#ln {
  grid-area: ln;
}

#hex {
  grid-area: hex;
}
#dec {
  grid-area: dec;
}
#bin {
  grid-area: bin;
}
#showM {
  grid-area: showM;
}
#plusM {
  grid-area: plusM;
}
#minusM {
  grid-area: minusM;
}
#MC {
  grid-area: MC;
}
#MR {
  grid-area: MR;
}
#menu {
  grid-area: menu;
}

.main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242931;
  width: auto;
  padding: 30px 10px 20px 10px;
  border-radius: 25px;
  position: relative;
}

#expression_string {
  color: rgb(79, 84, 96);
  display: block;
  margin-bottom: 20px;
}

#result {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.memory-div {
  position: absolute;
  background-color: #444f5df9;
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  color: white;
  height: 200px;
  width: 250px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

#output_memory-div {
  margin: 20px;
}

#metrics-div {
  position: absolute;
  width: 500px;
  top: 50%;
}

#metrics-div1 {
  position: relative;
}

.metrics-container {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(36, 41, 49, 0.45);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.metrics-container.show {
  opacity: 1;
}
